
th{
    text-align: right;
}

.input, .Alamat{
    border: 1px solid black; padding: 18px; width: 400px;
}

.Web{
    border: 1px solid black; padding: 10px; width: 200px;
}

fieldset{
    border: 2px solid; margin: 0px 150px;
}

.button{
    position: relative;
    left: 130px; 
}

table{
    padding: 10px 50px;
}

th, td{
    padding: 5px;
}

body{
    background-color: rgb(225, 238, 247);
}
